<div class="container mt-4">
      <div class="card mb-4" id="btnphoto">
      <img src="../../assets/image/side.png"  height="150" alt="">
        <div id="btn" class="btn btn-outline-warning" routerLink="/tournaments" routerLinkActive = "active">Tournaments</div>
      </div>
        
    <div class="text-center text-white"><h2>About us</h2>  <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 90px; height: 2px;"></div>
    <div class="row">
        
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</div>