<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-white text-center" style="background: transparent;" >
                <div class="text-center text-dark mt-2">
                  <h1><b>Users</b></h1>
                  <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 120px; height: 2px;">
                </div>
                <div class="text-center">
                  <div class="rounded-circle"><i class="fa fa-user" style="font-size: 100px;" ></i></div>
                  <hr class="bg-primary mb-1  d-inline-block mx-auto" style="width: 100px; height: 1px;">
                  <li>  <h2><b class="text-warning">  </b><b>{{users}}</b></h2> </li>   
                  <hr class="bg-primary mb-1  d-inline-block mx-auto" style="width: 100px; height: 1px;">      
                </div>
                
               </div>
        </div>   
        <div class="col-md-6" >
            <div class="card text-white text-center" style="background: transparent; ">
                <div class="text-center text-dark mt-2">
                  <h1><b>Prize Distributed</b></h1>
                  <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 200px; height: 2px;">
                </div>
                <div class="text-center">
                  <div class="rounded-circle"><i class="fa fa-desktop" style="font-size: 100px;" ></i></div>
                  <hr class="bg-primary mb-1  d-inline-block mx-auto" style="width: 100px; height: 1px;">
                  <li>  <h2><b class="text-warning">   </b><b>10000</b></h2> </li>   
                  <hr class="bg-primary mb-1  d-inline-block mx-auto" style="width: 100px; height: 1px;">      
                </div>
               </div>
         
         
        </div>
    </div>
</div>

<div class="container">
 <div class="card-group">
   <div class="card  text-white" style="background: transparent;">
    <div class="text-center text-dark mt-2">
          <h1><b>Tournaments</b></h1>
          <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 180px; height: 2px;">
    </div>
    <ul style="list-style:none;">
      <li>  <h2><b class="text-warning">Free Enty Tournaments : </b><b>10000</b></h2> </li>
      <hr class="bg-primary mb-1 d-inline-block mx-auto" style="width: 190px; height: 1px;">
      <li>  <h2><b class="text-warning">Paid Tournaments : </b><b>10000</b></h2> </li>
      <hr class="bg-primary mb-1  d-inline-block mx-auto" style="width: 190px; height: 1px;">
      <li>  <h2><b class="text-warning"> Total Tournaments:  </b><b>10000</b></h2> </li>
      <hr class="bg-primary mb-1  d-inline-block mx-auto" style="width: 190px; height: 1px;">
    </ul>
    
   </div>
   <div class="card text-white text-center" style="background: transparent;"  >
    <div class="text-center text-dark mt-2">
      <h1><b>Maintinace</b></h1>
      <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 120px; height: 2px;">
    </div>
    <div class="text-center">
      <div class="rounded-circle"><i class="fa fa-desktop" style="font-size: 100px;" ></i></div>
      <hr class="bg-primary mb-1  d-inline-block mx-auto" style="width: 100px; height: 1px;">
      <li>  <h2><b class="text-warning">   </b><b>10000</b></h2> </li>   
      <hr class="bg-primary mb-1  d-inline-block mx-auto" style="width: 100px; height: 1px;">      
    </div>
    <div class="example-button-row">
       <a class="btn btn-primary text-white" routerLink="/tournaments" routerLinkActive = "active">Tournaments</a>
      
    </div>
   </div>
 </div>
</div>


